/* Base Application Styles*/

body {
  background: #222;
}

body, html, #app {
  width: 100%;
  height: 100%;
}

.stage {
  position: relative;
  width: 100%;
  height: 700px;
  top: 50%;
  margin-top: -350px;
  overflow: hidden;
  background-color: #ddd;
}

.img_sec {
  width: 100%;
  height: 100%;

  perspective: 1800px;
}

.img_figure {
  position: absolute;
  width: 260px;
  height: 320px;
  margin: 0;
  padding: 26px;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;

  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
}

.img_figure img {
  width: 100%;
  height: 90%;
}

figcaption {
  text-align: center;
}

figcaption .img_title {  
  font-size: 16px;
  color: #a7a2a0;
}

figcaption .img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 26px;
  box-sizing: border-box;
  font-size: 14px;
  color: #aaa;
  top: 0;
  left: 0;
  background-color: #fff;
  cursor: pointer;

  transform: rotateY(180deg);
}

.is_inverse {
  transform: translate(260px) rotateY(180deg)!important;
}